
---
import About from "../pages/About.astro"
import contact from "../pages/contact.astro"
import event from "../pages/event.astro"
import dio from "../pages/dio.astro"
---
<nav id="numb">
    <div class="navi">
        <img src="/images/test.jpg" alt="test_color" style=" height: 5%; width: 5%">
        <a href="/">HOME</a></ol>
        <a href="/About">ABOUT</a></ol>
        <a href="/contact">CONTACT sdfasdfsdfasdfasdfasdfasfadf</a></ol>
        <a href="/event">EVENT</a></ol>
        <a href="/dio">DIO</a></ol>
    </div>
    <!-- <div>
        <img src="/images/test.jpg" alt="test_color" style=" height: 5%; width: 5%">
    </div> -->
</nav>

<style>
    
    .navi{
        background-color: #281e1e;
        text-align: right;
        padding: 2%;
        border-radius: 2%;
     
        
        /* margin-right: 10%; */
    }
    .navi a {
        border: 1px solid blanchedalmond;
        color: #c3c33b;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif    ;
    
    }

    .navi img{
        margin-right: 69%;
    }

</style>

