
---
import About from "../pages/About.astro"
import contact from "../pages/contact.astro"
import event from "../pages/event.astro"
import dio from "../pages/dio.astro"
---
<nav id="numb">
    <div class="navi">
        <img src="/images/test.jpg" alt="test_color" style=" height: 5%; width: 5%">
        <a href="/">HOME</a>
        <a href="/About">ABOUT</a>
        <a href="/contact">CONTACT </a>
        <a href="/event">EVENT</a>
        <a href="/dio">DIO</a>
    </div>
    <!-- <div>
        <img src="/images/test.jpg" alt="test_color" style=" height: 5%; width: 5%">
    </div> -->
</nav>

<style>
    
    #numb{
        background-color: #0b0b0b;
        text-align: right;
        padding: 2%;
        border-radius: 2%;
        position: sticky;
        top: 0%;
        opacity: 0.8;
    }
    .navi a {
        
        border: 1px solid blanchedalmond;
        color: #c3c33b;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    }

    .navi img{
        margin-right: 74%;
    }

</style>

