<!DOCTYPE html>
<html>
    <body id="hello">
        <div  id="home">
        <h1>Astrofolio</h1>
        <br>
        <br>
        <h3>Portfolio, made simple!</h3>
        <div class="para">
        <p>A clean, fast, and lightweight portfolio template built with<br> Astro, Vercel, and Tailwind CSS for optimal performance</p>
        <p>Astrofolio includes all the essentials for a stunning portfolio:<br> SEO, MDX support, RSS, Atom, & JSON feeds, analytics, tweet &<br> YouTube embeds, KaTeX integration, and more.</p>
        <p>Astrofolio is open-source and fully customizable, making it easy to add more features.</p>
        <p>Deploy your Astrofolio site with Vercel in minutes and follow the set up instructions in <br> the Getting Started post.</p>
        <p>Next.js built and maintained by Sirius <br> Astro buit and maintained by Vikas .</p>
        </div>
    </body>
    <style>
        #hello{
		text-align:center;
        }
        #para{
            text-align: justify;
            color:white;
        }
    </style>
</html>