---
import Navbar from "../componets/Navbar.astro"
---
<Navbar />
<h1>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
    Minima minus tempore officiis. Quos, suscipit debitis 
    earum odio est officia expedita rerum ratione deleniti 
    tempore excepturi a aperiam asperiores, animi in.</h1>