---
import Nav from "../componets/Navbar.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Portfolio</title>
		
	</head>
	    <Nav />
		<body id="hello">
			<div class="para">	
			<h1>Astrofolio</h1>
			<br>
			<br>
			
				<div class="container">
				<h3>Portfolio, made simple</h3>
			<p>A clean, fast, <strong><em>uttam</em></strong>and built with<br> Astro, Vercel performance</p>
			<p>Astrofolio includ<br> SEO, MDX tics, tweet &<br> YouTube embeds,.</p>
			<p>Astrofolio is open-</p>
			<p>set up instructions in <br> the Getting Started post.</p>
			<p>Next.js built andius <br> Astro buit and maintained .</p>
			
			<p>Lorem met consectetur 
			<br>adisicing elit. Eaqu
			<br><blockquote>corporise nobis unde 
			<br>architecto, doloru </blockquote>
			<br>placeat illo obcaecat
			<br>debitis aunt voluptas.</p>
			<p >WWF's goal is to: <q>Build a futurey</q></p>
			<p>The <abbr title="World health organisation">WHO</abbr> was founded in 1948.</p>
			<address>
				Written by John Doe.<br>
				Visit us at:<br>
				Example.com<br>
				Box 564, Disneyland<br>
				USA
			</address>
			<p><cite>The Scream</cite> by Edvard Munch. Painted in 1893.</p>
			<bdo dir="rtl">This line will be written from right to left</bdo>
		
		<img src="/images/test.jpg" alt="test_color" class="custom">
		<img src="/images/test.jpg" alt="test_color" class="custom">
		<a href="https://www.pexels.com/search/creative/" target="_blank">link </a>	

		</div>
		<article>
  <h1>My First Component</h1>
  <ol>
    <li>Components: UI Building Blocks</li>
    <li>Defining a Component</li>
    <li>Using a Component</li>
  </ol>
</article>



			</div>

		</body>
		</html>
		<style>
		
			.para{
				text-align: left;
				color: #000;
				margin-left: 10%;
				text-wrap: balance;

			}
			.custom{
				width: 31%;
				height: 31%;
				margin-bottom: 20%;
				margin-top: 10%;
			}

			/* head{
				top: 0;
				position: sticky;
				z-index: 1000;
			} */
		</style>
		