---
import Nav from "../componets/Navbar.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Portfolio</title>

		<style>
			.point{
				margin: 20px auto;
			}
			.image{
				float: right;
				margin-right: 4%;
				width: 440px;
			}
		</style>
	</head>
	<body style="margin-left: 3%; margin-right: 3%; background-color: cadetblue; ">
			<!-- <h1>Astrofolio</h1> -->
			<Nav />
			<div class="point">
			<img src="/images/test.jpg" alt="test_color" class="image">
			<p style="color: chocolate; font-size: 50px; font-family: Arial, Helvetica, sans-serif;">
			<b>EQUIP YOUR PROJECTS <br> WITH <span style="color: chartreuse;">SCREWFAST </span></b></p>

			<p style="font-size: 30px;">Top-quality hardware tools and expert construction services
			<br> for every project need.</p>

			<button style=" border: none; color: white; background-color: gold; padding:5px 10px; font-size: 15px; border-radius: 10%;"><b>start exploring</b></button>
			<button style=" border: none; color: white; background-color: grey; padding:5px 10px; font-size: 15px; border-radius: 10%;">contact sales team</button>
		    </div>

		</body>
		</html>